<!DOCTYPE html>
<html lang="en">

<!-- Title and Stylesheet -->

<head>
    <% include ./partials/aboutHead.ejs %>
</head>

<body>
    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>


    <!-- Page Content -->
    <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">About Us</h1>
            <p class="lead">We are a community of world-class Bloc developers.</p>
            <a href="#" class="btn btn-primary btn-lg">Join our Team</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

            <section class="col-lg-4">
                <h4 class="card-title">Our Leaders</h4>
                <p class="card-text">Meet the brilliant minds of our leadership team.</p>
            </section>

            <section class="col-lg-4">
                <h4 class="card-title">Our Culture</h4>
                <p class="card-text">Learn more about the Bloccit Team's amazing cultural values.</p>
            </section>

            <section class="col-lg-4">
                <h4 class="card-title">Our Partners</h4>
                <p class="card-text">Meet our biggest supporters.</p>
            </section>

        </section>
        <!-- /.row -->

    </main>
    <!-- /.container -->

    <% include ./partials/baseScripts.ejs %>

</body>

</html>